{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous
{% endblock %}

{% block body %}

	<div class="productor">

		<div class="border p-2 mb-4 mt-3">
			<h2>Je produits aussi de Cerices en AB</h2>
			<div class="imageproductor"></div>
			<h3>
				<em>2 hectares de Cerisier et une d'Abricotiers, un sanctuaire pour Abeilles et une producction respectueuse de l'environnement</em>
			</h3>

			<div>
				<img src="/Images/Ceresosenflor.jpg" width="450px" height="300" class="img-Ceresosenflor">
				<img src="/Images/apicultor.jpg" width="200px" height="300" class="img-apicultor">
				<img src="/Images/colmena.jpg" width="200px" height="300" class="img-colmena">
			</div>

			<h4>Agriculture Bio ✅</h4>
			<a href="https://fr.wikipedia.org/wiki/Agriculture_biologique" class="btn btn-info">En savoir plus</a>
		</div>

		<div class="border p-2 mb-4">
			<h2>Notre production en 2019
			</h2>
			<h4>
				<em>25 hectares reparties en plusiers parcelles de petit taille 
																												pour respecter l'habitat naturelle</em>
			</h4>
			<div>
				<img src="/Images/harvesting.jpg" width="250px" height="200" class="img-productor">
				<img src="/Images/destiFlersHom.jpg" width="250px" height="200" class="img-destiFlersHom">
			</div>
				<a href="/Images/distillerieSchema.JPG" class="btn btn-info mt-2">En savoir plus</a>
		</div>

		<div class="border p-2 mb-4">
			<h2>Nos Produits</h2>
			<div>
				<img src="/Images/huilegouteFl.jpg" width="200px" height="200" class="img-huilegouteFl">
				<img src="/Images/huile.jpg" width="200px" height="200" class="img-huile">
				<img src="/Images/SavonJolie.jpg" width="250px" height="200" class="SavonJolie">
			</div>
			<a href="/Images/Boutiqenconstruc.jpg" class="btn btn-info mt-2">En savoir plus</a>
		</div>

	</div>

{% endblock %}
