{% extends 'base.html.twig' %}

{% block title %}Contactez-nous
{% endblock %}

{% block body %}

	<h2>Formulaire de Contact</h2>
	
	<h2>Veuillez écrire votre commentaire </h2>

	<h4>Nous vous donnerons réponse dans le plus brefs délais</h4>
	

	{{ form(FormContact) }}


{% endblock %}
