{% extends 'base.html.twig' %}

{% block title %}Buenas señor administrador
{% endblock %}

{% block body %}

	<div class="border p-2 mb-4">
		<h2>La page du patron
		</h2>
		<h4>
			<em>Qu'est-ce que l'on fait de beaux aujourd'hui Patron  ???</em>
		</h4>
		<img src="/Images/atardecerAdmin.jpg" width="450px" height="300" class="img-atardecerAdmin">
	</div>

{% endblock %}
